html, body {
  margin: 0;
  height: 100%;
	/* width: 100%; */
  color: #4d4d4d;
  overflow-y: hidden;
  /* font-family: "Helvetica Neue",sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

#outsideContainer{
  padding: 0px;
  height: 100%;
  width: 100%;
  /* background-color: #1B2831; */
}

nav {
  display: table-cell;
  vertical-align: middle;
  background-color: #14558f !important;
}

/* div {
  width: 100%;
} */

.main {
  padding: 0px 15px;
  height: 100%;
}

.col {
  height: auto;
  padding-right: 0px;
}

.row {
  margin: 0;
}

.goog-te-menu-value {
  padding: 1px 2px !important;
  font-size: 13px !important;
}

img {
  /* padding-bottom: 0.3%;
  padding-left: 0.3%; */
}

span {
  margin: 0 auto;
}

.justify-content-md-center {
  margin-left: 0px;
}

.esri-view, .esri-view-root, .esri-view-surface {
  width: 100% !important;
}

.esri-attribution {
  visibility: hidden;
}

.esri-popup__header-title, #projTitle {
  font-weight: bold;
}

.esri-popup__header-title:after, #projTitle:after {
  content:'';
  display: block;
  margin: 0 auto;
  width:100%;
  height:100%;
  padding-top: 10px;
  border-bottom:1px solid #BDBDBD;
}

/* .esri-popup--is-docked {
  margin-bottom: 0px;
}

.esri-view-width-xlarge .esri-popup__main-container {
  width: 1000px;
  height: 500px;
} */

.navbar-custom {
  /* background-color: #1D2933; /* MassDOT blue: #14558f */
  /* background-color: #14558f; */
	color: white;
  text-align: center;
}

.nav-link {
  color: #FFFFFF;
  padding: 6px;
}

.navbar-brand {
  position: relative;
  text-align: center;
  font-size: 320%;
  /* padding: 10px; */
  /* margin-right: 0px; */
  color: white !important;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-shadow: 3px 3px rgba(120,120,120,0.2);
}

.img-fluid {
  max-width: 12%;
  position: absolute;
  left: 0px;
  /* float: left; */
  padding: 15px 20px 0px 35px;
}

.topnav-support {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0px;
}

.p-3 {
  padding: 0 !important;
}

.boldText {
  font-weight: bold;
}

#sidePanel {
  display: block;
  max-width: 330px;
  padding-left: 20px;
  padding-right: 0px !important;
  height: 100%;
  /* background-color: #1B2831; */
  overflow-y: scroll;
}

#sidePanel h4, #sidePanel p, .form-inline {
  /* color: white; */
}

#sidePanel label {
  color: white;
}

.overflowScroll {
  overflow-y: auto;
  overflow-x: auto;
}

#sideFilters {
  /* height: 93%; */
  height: auto;
  width: 100%;
  padding-right: 10px;
  margin-top: 20px;
}

.filterBox {
  /* background-color: rgba(250,250,250,0.3); */
  padding: 15px 0px;
  /* margin: 0px 0px 5px 0px; */
  /* box-shadow: 5px 5px 10px rgba(250,250,250,0.3); */
}

.filterHeading {
  font-weight: bold;
}

.filterLabel {
  color: black !important;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 11px;
  /* font-variant: small-caps; */
  text-transform: uppercase;
  letter-spacing: 1.2px;
  /* background-color: #14cccc; */
  background-color: #e8e8e8;
  border-radius: 6px;
  padding: 8px 8px 12px 8px;
  margin-bottom: 0;
  position: relative;
  top: 8px;
}

/* .checkbox {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
} */

#costRange {
  margin-bottom: 10px;
  padding: 6px;
}

#costSlider {
  margin: 15px 0px 10px 10px;
  width: 94%;
}

.searchLabel {
  /* background-color: rgb(226, 119, 40); */
  color: white !important;
  background-color: #14558f;
}

.bottomMargin {
  margin-bottom: 20px;
}

.zeroPadding {
  padding: 0 !important;
}

.btn-about {
  /* background-color: #14cccc; */
  background-color: #fff;
  color: #1b2831;
  border: none;
}

.btn-about:hover {
  /* background-color: #1b2831; */
  background-color: #14cccc;
  border: none;
  transition: .3s;
}

/* .searchBottom {
  position: fixed;
  bottom: 0;
  padding-bottom: 50px;
} */

#searchBtn, #resetBtn {
  padding: 6px !important;
}

#aboutBtn {
  display: block;
  float: left;
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
}

#google_translate_element {
  display: block;
  float: left;
  margin: 0px 10px;
}

.noLeft {
  display: block;
  float: left;
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.floatBottom {
  position: fixed;
  bottom: 25px;
}

#aboutModal {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 16%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#aboutModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 45px;
  border: 1px solid #888;
  width: 30%;
  height: auto;
}

#mainPanel {
  display: block;
  /* float: left; */
  height: 100%;
  padding: 0px;
  /* overflow-y: scroll; */
}

.fullHeight {
  height: 100%;
}

#listModal {
  display: none;
  height: 100%;
  background-color: #c1c1c1;
  padding: 0px;
  padding-left: 15px;
  /* min-width: 390px !important; */
  min-width: 350px;
}

.mostHeight {
  height: 85%;
  /* width: auto; */
  min-width: 100%;
}

#listContent {
  overflow-y: auto;
  height: 100%;
  margin-top: 30px;
  padding-right: 0px;
  padding-left: 10px;
  min-width: 100% !important;
}

.listDivision {
  display: block;
  /* max-width: 90%; */
  padding-right: 20px;
}

.divHeading {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding-top: 20px;
}

.btn:focus {
  box-shadow: none;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  display: inline-block;
  cursor: pointer;
  padding: 2px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
}

.collapsible:before {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  color: black;
  float: left;
  margin-right: 10px;
}

.collapse {
  transition: max-height 0.2s ease-out;
}

.active:before {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
  /* color: white; */
  float: left;
  margin-right: 10px;
}

.listItem {
  font-size: 14px;
  color: #4d4d4d;
  white-space: normal;
  padding: 5px;
  /* margin-top: 8px; */
  /* margin-right: 20px; */
}

.listItem:hover, .selected {
  color: black;
  text-decoration: none;
  background-color: rgba(255,255,255,0.7);
}

#closeList-btn, #reopenList-btn {
  display: none;
  height: 100%;
  max-width: 40px;
  color: #464648;
  font-size: 20px;
  font-weight: bold;
  background-color: #c1c1c1;
  padding: 0px;
  padding-left: 7px;
}

#closeList-btn {
  padding-left: 9px;
}

.fa-angle-double-left {
  position: relative;
  top: 47%;
  left: 0px;
}

.fa-angle-double-right {
  position: relative;
  top: 47%;
  left: 0px;
  margin-left: 6px;
}

#mapCol {
  height: 100%;
  padding-top: 1% !important;
  overflow-y: auto;
}

#projectSearch {
  width: 100%;
  height: 3.5%;
  margin: 0 auto;
}

#viewDiv {
  margin: 0;
  margin-top: 0.75%;
  /* background-color: yellow; */
  height: 95%;
  /* height: 50%; */
}

#projectModal {
  display: none;
  -webkit-animation-name: projectDesc; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.25s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
  animation-name: projectDesc;
  animation-duration: 0.25s;
  animation-direction: reverse;
  background-color: #c1c1c1;
  border: solid 5px rgba(0,0,0,0.1);
  padding: 0px 7.5px;
  margin-top: 0.75%;
  height: 37%;
}

#projectContent {
  margin: 0px auto;
  height: 100%;
}

#closePopup-btn, #reopenPopup-btn {
  display: none;
  color: #464648;
  height: 25px !important;
  margin: 0.5% auto !important;
  font-size: 20px;
  font-weight: bold;
  background-color: #c1c1c1;
  text-align: center;
}

#reopenPopup-btn {
  padding-top: 3px;
  padding-bottom: 30px;
}

#popupContent {
  position: relative;
  width: 100%;
  height: 87.6%;
  /* background-color: blue; */
}

#closeList-btn:hover,
#closeList-btn:focus,
#reopenList-btn:hover,
#reopenList-btn:focus,
#closePopup-btn:hover,
#closePopup-btn:focus,
#reopenPopup-btn:hover,
#reopenPopup-btn:focus  {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#popupDock {
  background-color: white;
  margin: 0px 7.5px;
  padding: 15px;
  height: 96%;
  overflow-y: auto;
  /* transform: translate(-50%); */
}

#navigationArrows {
  display: none;
  width: 100%;
  float: right;
  padding-bottom: 15px;
  text-align: right;
}

.navArrows {
  display: inline-block;
  padding: 0px 3px;
  font-weight: bold;
}

.arrow:hover {
  color: grey;
}

#projDesc {
  margin: 5px;
  display: block;
  /* height: 85%; */
  overflow-y: auto;
  font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  margin: 0 0 1.2em;
  height: 100%;
}

#projDesc>p {
  margin: 0;
}

.mapillary {
  background-color: grey;
  /* width: 100%; */
  height: 94%;
  margin: 15px 0;
}

.mapillary-js {
  height: 100%;
  /* width: 100%; */
}

#imageryAPI {
  background-color: white;
  margin: 0px 7.5px;
  height: 96%;
}
.h-auto {
  height: auto;
  min-height: 8%;
}

.leftHeader {
  text-align: left;
  padding: 20px 10px 10px 15px;
  font-size: 30px;
  margin-bottom: 0 !important;
}

#pinfoLink {
  font-size: 12px;
  color: #C8C8C8;
  font-style: italic;
}

#pinfoLink:hover {
  text-decoration: none;
  color: black;
}

div.esri-component.esri-popup {
  position: absolute !important;
  bottom: 0;
}

.esri-feature__title {
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width:100%;
  border-bottom:1px solid #BDBDBD;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes projectDesc {
  100% {left:15px; top:700px;}
}

/* Standard syntax */
@keyframes projectDesc {
  100%  {left:15px; top:700px;}
}

.tw-toggle {
  background: #e6e6e6;
  display: inline-block;
  padding: 2px 2px;
  margin: 0 0 20px 10px;
  border-radius: 20px;
  position: absolute;
  left: 10;
  bottom: 0;
  border: 2px solid #fff;
  line-height: 1.5;
  z-index: 3;
}

.tw-toggle label {
  text-align: center;
  font-family: sans-serif;
  display: inline-block;
  color: #95A5A6;
  position:relative;
  z-index: 1;
  margin: 0;
  text-align: center;
  padding: 2px 7px;
  font-size: 15px;
  width: 28px;
}

.tw-toggle input {
  /* display: none; */
  position: absolute;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  padding: 50px;
  width: 28px;
  height: 28px;
}

.tw-toggle span {
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  background:#2197F5;
  display:block;
  position:absolute;
  left: 5px;
  top: 2px;
  transition:all 0.3s ease-in-out;
}

.tw-toggle input[value="true"]:checked ~ span{
  background:#2197F5;
  left: 5px;
  color:#fff;
}

.tw-toggle input[value="false"]:checked ~ span{
  background:#2197F5;
  left: 36px;
}

.tw-toggle input[value="true"]:checked + label,.tw-toggle input[value="false"]:checked + label{
  color:#fff;
}

.gm_streetview {
  /* width: 100%; */
  height: 100%;
  padding: 15px 0px;
}

/* .google_map, .google_streetview {
  width: 100%;
  height: 100%;
  padding: 15px 0px;
} */

/* #pano {
float: left;
height: 100%;
width: 100%;
} */

/* #g_stview, #pano {
  float: left;
  height: 100%;
  width: 50%;
} */

#g_stview {
  float: left;
  height: 100%;
  width: 100%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  width: 95%;
  height: 4.5em;
  text-align: center;
}

#pictometry {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  /* width: 95%; */
  height: 650px;
  border-style: hidden;
}
