html, body {
  margin: 0;
  height: 100%;
	/* width: 100%; */
  color: #4d4d4d;
  overflow-y: hidden;
  /* font-family: "Helvetica Neue",sans-serif; */
  font-family: 'Roboto', sans-serif;
}

#outsideContainer{
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: #1B2831;
}

nav {
  display: table-cell;
  vertical-align: middle;
  background-color: #F3F3F3 !important;
}

/* div {
  width: 100%;
} */

.main {
  padding: 0px 15px;
  height: 100%;
}

.col {
  height: auto;
}

.row {
  margin: 0;
}

.goog-te-menu-value {
  padding: 1px 2px !important;
  font-size: 13px !important;
}

img {
  padding-bottom: 0.3%;
  padding-left: 0.3%;
}

span {
  margin: 0 auto;
}

.justify-content-md-center {
  margin-left: 0px;
}

.esri-view, .esri-view-root, .esri-view-surface {
  width: 100% !important;
}

.esri-attribution {
  visibility: hidden;
}

.esri-popup__header-title, #projTitle {
  font-weight: bold;
}

.esri-popup__header-title:after, #projTitle:after {
  content:'';
  display: block;
  margin: 0 auto;
  width:100%;
  height:100%;
  padding-top: 10px;
  border-bottom:1px solid #BDBDBD;
}

/* .esri-popup--is-docked {
  margin-bottom: 0px;
}

.esri-view-width-xlarge .esri-popup__main-container {
  width: 1000px;
  height: 500px;
} */

.navbar-custom {
  /* background-color: #1D2933; /* MassDOT blue: #14558f */
  background-color: #FFFFFF;
	color: #1B2831;
  text-align: center;
}

.nav-link {
  color: #FFFFFF;
  padding: 6px;
}

.navbar-brand {
  /* font-size: 85px; */
  font-size: 320%;
  padding: 10px;
  /* margin-right: 0px; */
  color: rgba(27, 40, 49, 0.8) !important;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-shadow: 3px 3px rgba(120,120,120,0.2);
}

/* .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.topnav a:hover {
  color: #2C2C2C;
  transition: .3s;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
  margin-top: 10px;
} */

.img-fluid {
  width: 75%;
  padding: 15px 20px 20px 0px;
}

.divHeading {
  font-size: 24px;
  padding-top: 20px;
}

.p-3 {
  padding: 0 !important;
}

.boldText {
  font-weight: bold;
}

#sidePanel {
  display: block;
  /* float: left; */
  padding: 20px 0px 0px 20px;
  height: 100%;
  background-color: #1B2831;
}

#sidePanel h4, #sidePanel p, .form-inline {
  color: white;
}

#sidePanel label {
  color: white;
}

.overflowScroll {
  overflow-y: auto;
  overflow-x: auto;
}

#sideFilters {
  height: 75%;
  width: 100%;
  padding-right: 10px;
  margin-bottom: 10px;
}

.filterBox {
  background-color: rgba(250,250,250,0.3);
  padding: 15px;
  margin: 0px 5px 20px 5px;
  box-shadow: 5px 5px 10px rgba(250,250,250,0.3);
}

.filterLabel {
  color: #1b2831 !important;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 12px;
  /* font-variant: small-caps; */
  text-transform: uppercase;
  letter-spacing: 1.2px;
  /* background-color: #14cccc; */
  background-color: #14cccc;
  border-radius: 6px;
  padding: 8px 8px 12px 8px;
  margin-bottom: 0;
  position: relative;
  top: 8px;
}

.checkbox {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

#costRange {
  margin-bottom: 10px;
  padding: 6px;
}

#costSlider {
  margin: 15px 0px 10px 10px;
  width: 94%;
}

.zeroPadding {
  padding: 0 !important;
}

.btn-about {
  /* background-color: #14cccc; */
  background-color: #fff;
  color: #1b2831;
  border: none;
}

.btn-about:hover {
  /* background-color: #1b2831; */
  background-color: #14cccc;
  border: none;
  transition: .3s;
}

#searchBtn, #resetBtn {
  padding: 6px !important;
}

#aboutBtn {
  display: block;
  float: left;
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
}

#google_translate_element {
  display: block;
  float: left;
  margin: 0px 10px;
}

.noLeft {
  display: block;
  float: left;
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.floatBottom {
  position: fixed;
  bottom: 25px;
}

#aboutModal {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 16%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#aboutModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 45px;
  border: 1px solid #888;
  width: 30%;
  height: auto;
}

.mostHeight {
  height: 85%;
}

#mainPanel {
  display: block;
  /* float: left; */
  height: 100%;
  padding: 0px 20px;
  /* overflow-y: scroll; */
}

.fullHeight {
  height: 100%;
}

#listModal {
  display: none;
  height: 100%;
  background-color: #e6e6e6;
  /* background-color: #3b434c; */
  padding: 0px 15px;
  margin-right: 22px;
}

#projectList-content {
  /* display: inline-block; */
  /* float: left; */
  overflow-y: auto;
  height: 100%;
  margin-top: 30px;
  padding: 0px 20px;
}

.listItem {
  font-size: 14px;
  color: #4d4d4d;
  white-space: normal;
  padding: 5px;
  /* margin-top: 8px; */
  /* margin-right: 20px; */
}

.listItem:hover, .selected {
  color: black;
  text-decoration: none;
  background-color: rgba(255,255,255,0.7);
}

.hideList {
  width: 5%;
  display: inline-block;
  height: 100%;
  /* padding-left: 7%; */
  padding-right: 0px !important;
}

.closeList-btn {
  color: #b5b5b5;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  top: 54%;
}

#mapCol {
  /* display: block; */
  height: 100%;
  /* width: 100%; */
  /* margin: 0 auto; */
  padding-top: 1% !important;
  overflow-y: auto;
}

#projectSearch {
  width: 100%;
  height: 3.5%;
  margin: 0 auto;
}

#viewDiv {
  margin: 0;
  margin-top: 0.75%;
  /* background-color: yellow; */
  height: 95%;
}

/* .mapFull {
  height: 95% !important;
} */

.mapListProject {
  height: 48% !important;
  transition: top 5s;
}

.mapProject {
  height: 56% !important;
}

#projectModal {
  display: none;
  -webkit-animation-name: projectDesc; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.25s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
  animation-name: projectDesc;
  animation-duration: 0.25s;
  animation-direction: reverse;
  background-color: #E6E6E6;
  border: solid 5px rgba(0,0,0,0.1);
  padding: 0px 7.5px;
  margin-top: 0.75%;
  height: 37%;
}

#projectModal-content {
  margin: 0px auto;
  /* background-color: yellow; */
  height: 100%;
}

.close,
.closeProject-btn {
  color: #aaaaaa;
  height: 25px !important;
}

.close:hover,
.close:focus,
.closeList-btn:hover,
.closeList-btn:focus,
.closeProject-btn:hover,
.closeProject-btn:focus {
  /* color: #000; */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.closeProject-btn {
  margin: 0.5% auto !important;
  font-size: 128%; /* 20px */
  font-weight: bold;
}

#projectContent {
  position: relative;
  width: 100%;
  /* background-color: blue; */
  height: 87.6%;
  /* background-color: yellow; */
}

#popupDock {
  background-color: white;
  margin: 0px 7.5px;
  padding: 15px;
  height: 96%;
  overflow-y: auto;
  /* transform: translate(-50%); */
}

#projDesc {
  margin: 5px;
  display: block;
  /* height: 85%; */
  overflow-y: auto;
  font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  margin: 0 0 1.2em;
  height: 100%;
}

#projDesc>p {
  margin: 0;
}

.mapillary {
  background-color: grey;
  /* width: 100%; */
  height: 94%;
  margin: 15px 0;
}

.mapillary-js {
  height: 100%;
  /* width: 100%; */
}

#imageryAPI {
  background-color: white;
  margin: 0px 7.5px;
  height: 96%;
}
.h-auto {
  height: auto;
  min-height: 8%;
}

.leftHeader {
  text-align: left;
  padding: 20px 10px 10px 15px;
  font-size: 30px;
  margin-bottom: 0 !important;
}

#pinfoLink {
  font-size: 12px;
  color: #C8C8C8;
  font-style: italic;
}

#pinfoLink:hover {
  text-decoration: none;
  color: black;
}

div.esri-component.esri-popup {
  position: absolute !important;
  bottom: 0;
}

.esri-feature__title {
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width:100%;
  border-bottom:1px solid #BDBDBD;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes projectDesc {
  100% {left:15px; top:700px;}
}

/* Standard syntax */
@keyframes projectDesc {
  100%  {left:15px; top:700px;}
}

.tw-toggle {
  background: #e6e6e6;
  display: inline-block;
  padding: 2px 2px;
  margin: 0 0 20px 10px;
  border-radius: 20px;
  position: absolute;
  left: 10;
  bottom: 0;
  border: 2px solid #fff;
  line-height: 1.5;
  z-index: 3;
}

.tw-toggle label {
  text-align: center;
  font-family: sans-serif;
  display: inline-block;
  color: #95A5A6;
  position:relative;
  z-index: 1;
  margin: 0;
  text-align: center;
  padding: 2px 7px;
  font-size: 15px;
  width: 28px;
}

.tw-toggle input {
  /* display: none; */
  position: absolute;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  padding: 50px;
  width: 28px;
  height: 28px;
}

.tw-toggle span {
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  background:#2197F5;
  display:block;
  position:absolute;
  left: 5px;
  top: 2px;
  transition:all 0.3s ease-in-out;
}

.tw-toggle input[value="true"]:checked ~ span{
  background:#2197F5;
  left: 5px;
  color:#fff;
}

.tw-toggle input[value="false"]:checked ~ span{
  background:#2197F5;
  left: 36px;
}

.tw-toggle input[value="true"]:checked + label,.tw-toggle input[value="false"]:checked + label{
  color:#fff;
}

.gm_streetview {
  /* width: 100%; */
  height: 100%;
  padding: 15px 0px;
}

/* .google_map, .google_streetview {
  width: 100%;
  height: 100%;
  padding: 15px 0px;
} */

/* #pano {
float: left;
height: 100%;
width: 100%;
} */

/* #g_stview, #pano {
  float: left;
  height: 100%;
  width: 50%;
} */

#g_stview {
  float: left;
  height: 100%;
  width: 100%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  width: 95%;
  height: 4.5em;
  text-align: center;
}

#pictometry {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  /* width: 95%; */
  height: 650px;
  border-style: hidden;
}
