html, body {
  margin: 0;
  height: 100%;
	width: 100%;
  color: #4d4d4d;
  overflow-y: hidden;
}

nav {
  height: 5%;
  padding: 2px;
}

.goog-te-menu-value {
  padding: 1px 2px !important;
  font-size: 13px !important;
}

img {
  padding-bottom: 0.3%;
  padding-left: 0.3%;
}

span {
  margin: 0 auto;
}

.row {
  margin: 0 !important;
}

.justify-content-md-center {
  margin-left: 0px;
}

.esri-view, .esri-view-root, .esri-view-surface {
  width: 100% !important;
}

.esri-attribution {
  visibility: hidden;
}

.esri-popup__header-title {
  font-weight: bold;
}

.esri-popup__header-title:after{
  content:'';
  display: block;
  margin: 0 auto;
  width:100%;
  height:100%;
  padding-top: 10px;
  border-bottom:1px solid #BDBDBD;
}

.navbar-custom {
  background-color: #14558f;
	color: #FFFFFF;
}

.nav-link {
  color: #FFFFFF;
}

.navbar-brand {
  font-size: 26px;
  padding-left: 20px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.topnav a:hover {
  color: #2C2C2C;
  transition: .3s;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

#mainDiv{
  padding-right: 0px;
  padding-left: 0px;
}

.mapCol {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0px 0px 0px !important;
}

#viewDiv {
  width: 100% !important;
  height: 100% !important;
  min-height: 1000px;
  margin: 0;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.p-3 {
  padding: 0 !important;
}

#projectSearch {
  width: 100%;
  margin: 0 auto;
}

.sideContents{
  padding-top: 20px;
  padding-left: 0px !important;;
  padding-right: 0px !important;
  margin-right: 20px;
  width: 200px;
}

.checkbox {
  margin-bottom: 1rem;
}

#cost-range {
  margin: 15px 0px 10px 10px;
  width: 94%;
}

#aboutBtn:hover {
  color: #2C2C2C;
  transition: .3s;
}

#aboutModal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 16%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#aboutModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 45px;
  border: 1px solid #888;
  width: 30%;
  height: auto;
}

.noRightPadding {
  padding-right: 0;
}

.leftHeader {
  text-align: left;
  padding: 50px 10px 10px 15px;
  font-size: 30px;
}

.listModal {
  display: none;
  background-color: #e6e6e6;
  z-index: 1;
  width: 20%;
  margin-right: 30px;
}

#listModal-content {
  /* display: inline-block; */
  overflow-y: auto;
  max-height: 1050px;
  padding-bottom: 10px;
}

#projectList {
  margin: 10px 0px 45px 0px;
  /* height: 100%; */
}

#projectList-content {
  /* height: 90%; */
  /* overflow-y: auto; */
}

.projectContent {
  /* background-color: blue; */
  /* height: 100%; */
}

#projectList-header {

}

#projectList-subheader {
  padding-top: 0;
  font-size: 20px;
}

.listItem {
  font-size: 14px;
  color: #4d4d4d;
  margin-top: 8px;
}

.listItem:hover, .selected {
  color: black;
  text-decoration: none;
  background-color: rgba(255,255,255,0.6);
}

#hide {
  width: 25px;
}

#pinfoLink {
  font-size: 12px;
  color: #C8C8C8;
  font-style: italic;
}

#pinfoLink:hover {
  text-decoration: none;
  color: black;
}

#projectModal {
  display: none;
  -webkit-animation-name: projectDesc; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.25s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
  animation-name: projectDesc;
  animation-duration: 0.25s;
  animation-direction: reverse;
  z-index: 2;
  height: auto;
  min-height: 500px;
  width: 100%;
  background-color: #e6e6e6;
  border: solid 5px #f2f2f2;
  padding: 0px 15px;
}

#projectModal-content {
  height: 100%;
  padding-bottom: 20px !important;
}

.projectContent {
  height: 93%;
}

#projTitle {
  font-weight: bold;
}

.row>#projTitle{
  margin-bottom: 15px;
  padding-bottom: 15px;
  width:100%;
  border-bottom:1px solid #BDBDBD;
}

#projDesc {
  margin: 5px;
  display: block;
}

#projDesc>p {
  margin: 0;
}

.leftCol {
  background-color: white;
  margin-right: 7.5px;
  padding: 15px;
}

.rightCol {
  background-color: white;
  margin-left: 7.5px;
}

#viewMini {
  width: 100%;
  height: 100%;
  padding: 15px 0px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes projectDesc {
  100% {left:15px; top:700px;}
}

/* Standard syntax */
@keyframes projectDesc {
  100%  {left:15px; top:700px;}
}

.close,
.closeProject {
  color: #aaaaaa;
}

.closeList {
  color: #b5b5b5;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  top: 54%;
}

.close:hover,
.close:focus,
.closeList:hover,
.closeList:focus,
.closeProject:hover,
.closeProject:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeProject {
  margin: 7px auto !important;
  font-size: 20px;
  font-weight: bold;
}

.mapillary {
  background-color: grey;
  width: 100%;
  height: 94%;
  margin: 15px 0;
}

.mapillary-js {
  height: 100%;
  width: 100%;
}

.CoverBackground {
  z-index: 2;
}

.tw-toggle {
  background: #e6e6e6;
  display: inline-block;
  padding: 2px 2px;
  margin: 0 0 20px 10px;
  border-radius: 20px;
  position: absolute;
  left: 10;
  bottom: 0;
  border: 2px solid #fff;
  line-height: 1.5;
  z-index: 4;
}

.tw-toggle label {
  text-align: center;
  font-family: sans-serif;
  display: inline-block;
  color: #95A5A6;
  position:relative;
  z-index:2;
  margin: 0;
  text-align: center;
  padding: 2px 7px;
  font-size: 15px;
  width: 28px;
}

.tw-toggle input {
  /* display: none; */
  position: absolute;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
  padding: 50px;
  width: 28px;
  height: 28px;
}

.tw-toggle span {
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  background:#2197F5;
  display:block;
  position:absolute;
  left: 5px;
  top: 2px;
  transition:all 0.3s ease-in-out;
}

.tw-toggle input[value="true"]:checked ~ span{
  background:#2197F5;
  left: 5px;
  color:#fff;
}

.tw-toggle input[value="false"]:checked ~ span{
  background:#2197F5;
  left: 36px;
}

.tw-toggle input[value="true"]:checked + label,.tw-toggle input[value="false"]:checked + label{
  color:#fff;
}

.gm_streetview {
  width: 100%;
  height: 100%;
  padding: 15px 0px;
}

/* #pano {
float: left;
height: 100%;
width: 100%;
} */

#gm_map, #pano {
  float: left;
  height: 100%;
  width: 50%;
}


















/*---TESTING---*/
/* #test {
position: absolute;
z-index: 30;
height: 100%;
width: 800px;
background-color: green;
} */

.floatLeft {
  float: left;
}

.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.pink {
  background-color: pink;
}
.grayFont {
  color: lightgray;
}
